.DS_Store
/tests/testData/eventData
/tests/testData/objectData
/archive/*
!/archive/.gitkeep
tmp/*
!/tmp/.gitkeep
.env
service-account.json
duckdb_init.sql
.claude
tests/response-logs.json
todos.txt
node_modules
CLAUDE.md
